/* Wrappers */
body.rtl .fl-module-testimonials .bx-viewport {
	direction: ltr;
}
body.rtl .wpzabb-testimonials-wrap.compact .fl-slider-next {
	left: 18px;
	right: auto;
}
body.rtl .wpzabb-testimonials-wrap.compact .fl-slider-prev {
	right: auto !important;
	left: 0;
}
body.rtl .wpzabb-testimonials-wrap .fl-testimonial {
	direction: rtl;
}

.fl-module-testimonials .bx-wrapper {
	margin: 0 auto 35px;
}
.wpzabb-testimonials-wrap { 
	position: relative; 
}
.wpzabb-testimonials-wrap .fl-testimonial {
	position: absolute;
	top: 0;
	visibility: hidden;
}
.wpzabb-testimonials-wrap .fl-testimonial:first-child,
.wpzabb-testimonials-loaded .fl-testimonial {
	position: relative;
	visibility: visible;
}
.wpzabb-testimonials-wrap .fa {
	opacity: 0.8;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.wpzabb-testimonials-wrap .fa:hover {
	opacity: 1;
}

/* Wide */
.wpzabb-testimonials.wide {
	text-align: center;
}
.wpzabb-testimonials-wrap.wide .fl-slider-next,
.wpzabb-testimonials-wrap.wide .fl-slider-prev {
	position: absolute;
	top: 50%;
	margin-top:-10px;
	right: 0px;
}
.wpzabb-testimonials-wrap.wide .fa {
	font-size: 23px;
	position: relative;
	z-index: 1;
}
.wpzabb-testimonials-wrap.wide .fl-slider-prev {
	left: 0px !important;
}

/* Compact */
.wpzabb-testimonials-wrap.compact h3 {
	margin: .3em 0;
}
.wpzabb-testimonials-wrap.compact .fl-slider-next,
.wpzabb-testimonials-wrap.compact .fl-slider-prev {
	position: absolute;
	top: 9px;
	right: 0;
}
.wpzabb-testimonials-wrap.compact .fa {
	font-size: 17px;
}
.wpzabb-testimonials-wrap.compact .fl-slider-prev {
	right: 18px !important;
}

/* Navigation Fixes */
.wpzabb-testimonials-wrap .fl-slider-next a.disabled,
.wpzabb-testimonials-wrap .fl-slider-prev a.disabled,
.wpzabb-testimonials-wrap .bx-controls a.disabled {
	pointer-events: none;
}