.wpzabb-slideshow {
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wpzabb-slideshow .wpzabb-slideshow-slides {
	margin: 0;
}

.wpzabb-slideshow .wpzabb-slideshow-slide {
	display: flex !important;
	align-items: stretch;
	justify-content: stretch;
	position: relative;
	background: #000;
	min-height: 100% !important;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-outer-wrap {
	position: relative;
	pointer-events: none;
	width: 100%;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-image {
	display: flex;
	position: relative;
	z-index: 1;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-image::after,
.wpzabb-slideshow .wpzabb-slideshow-slide-video::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	background: transparent;
	background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0) 100%);
}

.wpzabb-slideshow .wpzabb-slideshow-slide-image img {
	display: block;
	object-fit: cover;
	padding: 0;
	border: 0;
	margin: 0;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-video {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	justify-content: center;
	align-items: center;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-video .wp-video,
.wpzabb-slideshow .wpzabb-slideshow-slide-video .wp-video-shortcode,
.wpzabb-slideshow .wpzabb-slideshow-slide-video .mejs-inner {
	height: 100% !important;
	width: 100% !important;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-video .mejs-mediaelement {
	position: relative;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-video .mejs-layers,
.wpzabb-slideshow .wpzabb-slideshow-slide-video .mejs-controls {
	display: none;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-video .video-embed,
.wpzabb-slideshow .wpzabb-slideshow-slide-video iframe,
.wpzabb-slideshow .wpzabb-slideshow-slide-video video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 0;
	margin: 0;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-video .wpzabb-slideshow-slide-video-controls {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 5;
	display: flex;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-video .wpzabb-slideshow-slide-video-controls a {
	display: block;
	cursor: pointer;
	pointer-events: auto;
	font: normal 400 1.5em/1 dashicons;
	text-decoration: none !important;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
	text-stroke: 2px rgba(0, 0, 0, 0.5);
	paint-order: stroke fill;
	color: rgba(255, 255, 255, 0.5);
	height: auto;
	width: auto;
	box-shadow: none !important;
	margin: 0 3px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-video .wpzabb-slideshow-slide-video-controls a:hover,
.wpzabb-slideshow .wpzabb-slideshow-slide-video .wpzabb-slideshow-slide-video-controls a:active {
	color: #fff;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	z-index: 4;
	display: flex;
	justify-content: center;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
	text-stroke: 2px rgba(0, 0, 0, 0.5);
	paint-order: stroke fill;
	color: #fff;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-details-wrap {
	pointer-events: auto;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-title {
	font-size: 30px;
	line-height: 1.5;
	margin: 0 0 15px;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-content {
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 15px;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-content > * {
	margin: 0 0 10px;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-content *:last-child {
	margin-bottom: 0;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-button {
	font-size: 20px;
	line-height: 1;
	margin: 30px 0 0;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-button a {
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	line-height: 1;
	color: #fff;
	background: rgba(255, 255, 255, 0.3);
	padding: 10px 20px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
	margin: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-button a:hover,
.wpzabb-slideshow .wpzabb-slideshow-slide-details .wpzabb-slideshow-slide-button a:active {
	-webkit-text-stroke: 0;
	text-stroke: 0;
	color: #000;
	background: #fff;
}

.wpzabb-slideshow .flex-direction-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.wpzabb-slideshow .flex-direction-nav a {
	display: block;
	font: normal 400 1em/1 dashicons;
	text-decoration: none !important;
	color: rgba(255, 255, 255, 0.5);
	height: auto;
	width: auto;
	opacity: 1;
	box-shadow: none !important;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wpzabb-slideshow .flex-direction-nav a.flex-prev {
	left: 0;
}

.wpzabb-slideshow .flex-direction-nav a.flex-next {
	right: 0;
}

.wpzabb-slideshow .flex-direction-nav a::before {
	content: ' ';
	display: block;
	font: normal 400 3.5em/1 dashicons;
	text-decoration: none !important;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
	text-stroke: 2px rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
	paint-order: stroke fill;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wpzabb-slideshow .flex-direction-nav a.flex-prev::before {
	content: "\f341";
}

.wpzabb-slideshow .flex-direction-nav a.flex-next::before {
	content: "\f345";
}

.wpzabb-slideshow .flex-direction-nav a:hover,
.wpzabb-slideshow .flex-direction-nav a:active,
.wpzabb-slideshow .flex-direction-nav a:hover::before,
.wpzabb-slideshow .flex-direction-nav a:active::before {
	color: #fff;
}

.wpzabb-slideshow .flex-direction-nav a:focus {
	outline: none;
}

.wpzabb-slideshow .flex-control-nav.flex-control-paging {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 11px;
	z-index: 3;
	line-height: 11px;
}

.wpzabb-slideshow .flex-control-nav.flex-control-paging li {
	line-height: 11px;
}

.wpzabb-slideshow .flex-control-nav.flex-control-paging a {
	background-color: rgba(255, 255, 255, 0.5);
	height: 12px;
	width: 12px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wpzabb-slideshow .flex-control-nav.flex-control-paging a.flex-active,
.wpzabb-slideshow .flex-control-nav.flex-control-paging a:hover {
	background-color: #fff;
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(0, 0, 0, 0.5);
}

.wpzabb-slideshow .flex-control-nav.flex-control-paging a:focus {
	outline: none;
}

.wpzabb-slideshow .flex-control-nav.flex-control-thumbs {
	display: flex;
	align-items: center;
	overflow: visible;
}

.wpzabb-slideshow .flex-control-nav.flex-control-thumbs li {
	float: none;
	width: 100%;
	margin: 0;
}

.wpzabb-slideshow .flex-control-nav.flex-control-thumbs img {
	position: relative;
	transform: scale(0.8);
}

.wpzabb-slideshow .flex-control-nav.flex-control-thumbs img.flex-active {
	z-index: 5;
	transform: scale(1);
}